{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.get("symbol", "N/A") }}</td>
                    <td>{{ transaction.get("shares", "N/A") }}</td>
                    <td>{{ transaction.get("price", 0) }}</td>
                    <td>{{ transaction.get("transacted", "N/A") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
