{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="input-file1">First file</label>
                <input class="form-control-file" id="input-file1" name="file1" type="file">
            </div>
            <div class="form-group">
                <label for="input-file2">Second file</label>
                <input class="form-control-file" id="input-file2" name="file2" type="file">
            </div>
            <div class="form-group">
                <label for="input-algorithm">Algorithm</label>
                <select class="form-control" id="input-algorithm" name="algorithm" onchange="toggleField(this, &quot;substrings&quot;, [document.querySelector(&quot;#label-input-length&quot;), document.querySelector(&quot;#input-length&quot;)])">
                    <option value="lines">Compare lines</option>
                    <option value="sentences">Compare sentences</option>
                    <option value="substrings">Compare substrings</option>
                </select>
            </div>
            <div class="form-group">
                <label for="input-length" id="label-input-length" style="display: none">Substring length</label>
                <input class="form-control form-control-sm" min="1" name="length" placeholder="of length n" type="number" id="input-length" style="display: none">
            </div>
            <button class="btn btn-primary" type="submit">Compare</button>
            <script>
                function toggleField(that, value, elements) {
                    for (let element of elements) element.style.display = (that.value == value) ? "block" : "none";
                }
            </script>
        </form>
    </div>

{% endblock %}
