<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link href="/static/favicon.ico" rel="icon">

        <title>{% block title %}{% endblock %}</title>

        <style>{% block style %}{% endblock %}</style>

    </head>
    <body>

        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">SimpleProxy</a>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>
